.section__miniature{
    width: 5rem;
    height: 5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.miniature__img{
    width: 100%;
    opacity: 0.3;
    z-index: 111;
}
.miniature__text{
    position: absolute;
    width: 100%;
    z-index: 999;
    color: black;
}