<nav>
  <ul class="option__list">
    <li class="list__item">
      <a [routerLink]="['home']" class="item__link">
        Home
      </a>
    </li>
    <li class="list__item">
      <a [routerLink]="['camperizar']" class="item__link">
        Camperizar
      </a>
    </li>
    <li class="list__item">
      <a [routerLink]="['blog']" class="item__link">
        Blog
      </a>
    </li>
    <li class="list__item">
      <a [routerLink]="['administrar']" class="item__link">
        Administrar
      </a>
    </li>
  </ul>
</nav>