
<div class="form-container" class="form-container">
    <form   class="form"
            action=""
            [formGroup]="formEntrada"            
            #f="ngForm">
        <div class="input-group">
            <label  for="titulo" 
                    class="label__item">
                Título
            </label>
            <input  type="text" 
                    class="input__item"
                    name="titulo"
                    formControlName="titulo"
                    placeholder="Mi primer viaje ...">
        </div>

        <app-input-image-header [formGroupParent]="formEntrada"
                                [headerImage]="headerImage">
        </app-input-image-header>

        <app-input-etiquetas    [formGroupParent]="formEntrada"
                                [etiquetas]="etiquetas">
        </app-input-etiquetas>

        <app-regionseccion  [secciones]="secciones"
                            [formSeccionVisible]="formSeccionVisible"
                            (showFormEvent)="openFormSeccion($event)">
        </app-regionseccion>
        
       <!--  <div class="buttons-container"
                [hidden]="showFormSeccion">
            <button type="button" class="btn btn-primary"
                    (click)="savePost( f )">
                Guardar
            </button>
            <button type="button" class="btn btn-warning">
                Cancelar
            </button>
        </div>
 -->
    </form>

    <app-form-secciones [showFormSeccion]="showFormSeccion"
        (addNewSeccionEvent)="addNewSeccion($event)"
        [hidden]="!showFormSeccion">
    </app-form-secciones>
</div>