.input-group{
    display: grid;
    margin-bottom: 1rem;
}
.label__item{
 margin-bottom: 0.5rem;   
}
.btn__add{
    width: 2rem;
    height: 2rem;
    background-image: url(../../../../assets/media/icons/camara.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    background-color: transparent;
}
.add-button:hover{
    cursor: pointer;
    box-shadow:1px 1px 10px 0px #aaa
}
.btn__add-imageHeader{
    position: absolute;
    opacity: 0.5;
    z-index: 999;
}
.btn__add-imageHeader:hover{
    opacity: 1;
    transform: scale(1.1);
}
.header-container{
    width: 100%;
    min-height: 3rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    border: dashed 1px #aaaa;
    overflow: hidden;
}
.header-img{
    width: 100%;
    opacity: 0.5;
}
.img_visual{
    position: relative;
    display: grid;
    justify-content: stretch;
}
